<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript" src="http://d3js.org/queue.v1.min.js"></script>
		<script type="text/javascript" src="http://d3js.org/topojson.v0.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>		
		<script type="text/javascript" src='/scripts/details.js'></script>
	</head>
	<body>
		<div id="container" style="width: 100%; overflow: hidden;">
			<h1 id="countryName" style ="height: 20%">{{countrySelected}}</h1>
			<div id="vizButtons" style="width: 45.5%; height: 625px; display: table-cell; float: left"></div>
			<div id="vizArea" style="width: 35.5%; height: 625px; display: table-cell;"></div>
		</div>
	</body>
</html>