<!DOCTYPE html>
<html>
	<head>
		<title>SWEN439 Visualization</title>
		<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript" src="http://d3js.org/queue.v1.min.js"></script>
		<script type="text/javascript" src="http://d3js.org/topojson.v0.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>		
	</head>
	<body>
		<div id="navbar">
			<ul>
			  <li style="display: inline;"><a href="/">Home</a></li>
			  <li style="display: inline;"><a href="news.asp">News</a></li>
			  <li style="display: inline;"><a href="contact.asp">Contact</a></li>
			  <li style="display: inline;"><a href="about.asp">About</a></li>
			</ul>
		</div>
		<div id="container" style="width: 100%; overflow: hidden;">
			<div id="vizArea" style="width: 700px; display: table-cell; border: 2px solid black; float: left"></div>
			<div id="vizLegend" style="width: 400px; display: table-cell; border: 2px solid black;">
				<p id="tipper">No Country Selected</p>
				<p id="success"></p>
				<p id="failure"></p>
				<input id="countrySelect" type="hidden"></input>
			</div>
		</div>
		<script type="text/javascript" src='scripts/main.js'></script>
	</body>
</html>