<!DOCTYPE html>
<html>
	<head>
		<title>SWEN439 Visualization</title>
		<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript" src="http://d3js.org/queue.v1.min.js"></script>
		<script type="text/javascript" src="http://d3js.org/topojson.v0.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>		
	</head>
	<body>
		<div id="container" style="width: 100%; overflow: hidden;">
			<div id="vizArea" style="width: 1000px; display: table-cell; border: 2px solid black; float: left"></div>
			<div style="width: 10px;display: table-cell"><br></div>
			<div id="infoMenu" style="width: 400px; display: table-cell">
				<div id="vizLegend" style="border: 2px solid black;">
					<p><b>Legend: </b></p>
					<p>(Students surveyed that comply with the ISCED standard)</p>
					<ul style="list-style-type: none;">
					  <li > <b style="color: rgb(20,20,120);font-size:250%">&#x25a0</b> Over 80%</li>
					  <li > <b style="color: rgb(40,40,140);font-size:250%">&#x25a0</b> Over 60%</li>
					  <li > <b style="color: rgb(60,60,160);font-size:250%">&#x25a0</b> Over 40%</li>
					  <li > <b style="color: rgb(100,100,200);font-size:250%">&#x25a0</b> Over 20%</li>
					  <li > <b style="color: rgb(150,150,250);font-size:250%">&#x25a0</b> Below 20%</li>
					  <li > <b style="color: rgb(0,0,0);font-size:250%">&#x25a0</b> Not Surveyed</li>
					</ul>
				</div>
				<div style="width: 10px;display: table-cell"><br></div>
				<div style="border: 2px solid black;">
					<p id="tipper">No Country Selected</p>
					<p id="success"></p>
					<p id="failure"></p>
					<input id="countrySelect" type="hidden"></input>
				</div>
			</div>
		</div>
		<script type="text/javascript" src='scripts/main.js'></script>
	</body>
</html>