<!DOCTYPE html>
<html>
	<head>
		<title>SWEN439 Visualization</title>
		<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript" src="http://d3js.org/queue.v1.min.js"></script>
		<script type="text/javascript" src="http://d3js.org/topojson.v0.min.js"></script>
		
	</head>
	<body>
		<p>2012 PISA Visualization</p>
		<div id="tipper"></div>
		<div id="vizArea"></div>
		<script>
			//var data = [{{ data }}];
		</script>
		<script type="text/javascript" src='scripts/main.js'></script>
	</body>
</html>